<%= simple_form_for [@category, @subcat] do |form| %>
  <% if @subcat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcat.errors.count, "error") %> prohibited this subcat from being saved:</h2>

      <ul>
      <% @subcat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subcat_name %>
    <%= form.text_field :subcat_name, value: @subcat.subcat_name or nil %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
