<h1>Subcats</h1>

<table>
  <thead>
    <tr>
      <th>Subcat name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcats.each do |subcat| %>
      <tr>
        <td><%= subcat.subcat_name %></td>
        <td><%= link_to subcat.category.name, category_path(params[:category_id]) %></td>
        <td><%= link_to 'Show', category_subcat_path(params[:category_id], subcat.id) %></td>
        <td><%= link_to 'Edit', edit_category_subcat_path(params[:category_id], subcat.id) %></td>
        <td><%= link_to 'Destroy', category_subcat_path(params[:category_id], subcat.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcat', new_category_subcat_path(params[:category_id]) %>
