<p>
  <strong>Subcat name:</strong>
  <%= @subcat.subcat_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @subcat.category.name, category_path(@subcat.category) %>
</p>
<%= link_to 'New Product', new_category_subcat_product_path(params[:category_id], @subcat) %> | 
<%= link_to 'Products', category_subcat_products_path(params[:category_id], @subcat) %> | 
<%= link_to 'Edit', edit_category_subcat_path(params[:category_id], @subcat) %> |
<%= link_to 'Back', category_subcats_path(params[:category_id]) %>
