<p id="notice"><%= notice %></p>

<p>
  <strong>Subcat name:</strong>
  <%= @subcat.subcat_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcat.category %>
</p>

<%= link_to 'Edit', edit_subcat_path(@subcat) %> |
<%= link_to 'Back', subcats_path %>
