<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<%= link_to 'New Sub Category', new_category_subcat_path(@category) %> | 
<%= link_to 'Sub Categories', category_subcats_path(@category) %> | 
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
