<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Subcat</th>
			<th>Manuf</th>
      <th>Manuf description</th>
			<th>Gage</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Length</th>
      <th>Finish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.subcat.subcat_name, category_subcat_path(product.subcat.category, product.subcat) %></td>
				<td><%= product.manuf_id %></td>
				<td><%= product.manuf_description %></td>
        <td><%= product.gage %></td>
				<td><%= product.price %></td>
				<td><%= product.weight %></td>
				<td><%= product.length %></td>
				<td><%= product.finish %></td>
				
        <td><%= link_to 'Show', category_subcat_product_path(product.subcat.category, product.subcat, product) %></td>
        <td><%= link_to 'Edit', edit_category_subcat_product_path(product.subcat.category, product.subcat, product) %></td>
        <td><%= link_to 'Destroy', category_subcat_product_path(product.subcat.category, product.subcat, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_category_subcat_product_path(params[:category_id], params[:subcat_id]) %>
