<p>
  <strong>Manuf:</strong>
  <%= @product.manuf_id %>
</p>

<p>
  <strong>Manuf description:</strong>
  <%= @product.manuf_description %>
</p>

<p>
  <strong>Gage:</strong>
  <%= @product.gage %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Length:</strong>
  <%= @product.length %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @product.finish %>
</p>

<p>
  <strong>Subcat:</strong>
  <%= link_to @product.subcat.subcat_name, category_subcat_path(@product.subcat.category, @product.subcat) %>
</p>

<%= link_to 'Edit', edit_category_subcat_product_path(@product.subcat.category, @product.subcat, @product) %> |
<%= link_to 'Back', category_subcat_path(@product.subcat.category, @product.subcat) %>
